tensorflow>=2.0.0 #actual 2.3.0
matplotlib>=3.0.0 # actual is 3.2.1
scikit-image>=0.15.0 # actual is 0.16.2
numpy>=1.16.0 # actual is 1.18.1
Keras>=2.2.0 # actual is 2.4.3
Pillow>=6.0.0 # actual is 7.0.0
opencv-python>=4.0.0.32 # actual is 4.2.0.32
Sphinx==3.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4


